{% extends 'main.html' %}
{% block title %}
<title>Register</title>
{% endblock title %}
{% block body %}
<h1 class='text-center'>Register Page</h1>
<form class='my-3' method='POST' action='/register'>

     <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">FirstNmae</label>
        <input type="FirstName" class="form-control" id="exampleInputPassword1" name='FirstName'>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Lastname</label>
        <input type="LastName" class="form-control" id="exampleInputPassword1" name='LastName'>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">username</label>
        <input type="username" class="form-control" id="exampleInputPassword1" name='username'>
      </div>
      <div class="mb-3" >
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name='password'>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body %}
